*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: #9CD6F4;
    background-image: url(./img/img/pattern.png);
}
.title{
    height: 40px;
    margin: 20px;
}
main{
      width: 80%;
      margin: 0 auto;  
}
mark{
    background-color: yellow;
}
p{
    font-size: 15px;
}
footer{
    height: 100%;
    margin: 0 auto; 
    text-align: center;
    background-color: #313A6B;
    height: max-content;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }
.footer{
    color: white;
    margin: 10px;
    font-size: 12px;
}
